# Production dependencies
# Install with: pip install -r requirements.txt

-e .
{%- if dataset_storage == 's3' %}
botocore
{%- elif dataset_storage == 'azure' %}
azure-storage-blob
{%- elif dataset_storage == 'gcs' %}
google-cloud-storage
{%- endif %}
{%- if include_code_scaffold == 'Yes' %}
loguru
tqdm
typer
{%- endif %}
{%- if pydata_packages == 'basic' %}
matplotlib
numpy
pandas
scikit-learn
{%- endif %}
python-dotenv
